/*Installer une font*/
@font-face {
  font-family: "retro";
  src: url("./font/retro.ttf") format("truetype");
}

body {
  font-family: "retro", sans-serif;
  background-color: #797979;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #000;
  border: 5px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(130, 128, 128, 0.5);
  position: relative;
  overflow: hidden;

  image-rendering: optimizeSpeed; /* Crude scaling when zoomed */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: optimize-contrast; /* CSS3 Proposed */
  image-rendering: pixelated; /* CSS4 Proposed */
  image-rendering: crisp-edges; /* CSS4 Proposed */
  -ms-interpolation-mode: nearest-neighbor;
}
